[package]
name = "stylus-tools"
keywords = ["arbitrum", "ethereum", "stylus", "alloy"]
description = "Tools to compile, deploy and verify Arbitrum Stylus contracts"
readme = "../README.md"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
alloy = { workspace = true, features = ["contract", "signer-local", "rpc-types"] }
eyre.workspace = true
reqwest.workspace = true
testcontainers.workspace = true
trybuild.workspace = true
tokio.workspace = true
regex.workspace = true
