name: check
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: cargo fmt --check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check
  yamlfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
      - name: install yamlfmt
        run: |
          go install github.com/google/yamlfmt/cmd/yamlfmt@latest
      - name: run yamlfmt
        run: |
          yamlfmt -lint .github
  clippy:
    runs-on: ubuntu-latest
    name: clippy (${{ matrix.toolchain }})
    strategy:
      fail-fast: false
      matrix:
        toolchain: [1.87.0, nightly-2025-06-26]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy
      - name: cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
