name: integration
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  setup-cargo-stylus:
    runs-on: ubuntu-latest
    steps:
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
      - name: Cache cargo stylus
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/cargo-stylus
      - name: Install cargo-stylus
        shell: bash
        run: |
          RUSTFLAGS="-C link-args=-rdynamic" cargo install cargo-stylus
      - name: Archive cargo-stylus binary
        uses: actions/upload-artifact@v4
        with:
          name: cargo-stylus-binary
          path: ~/.cargo/bin/cargo-stylus
          retention-days: 1 # Keep artifact for 1 day
  integration-test-example:
    name: integration-test-example ${{ matrix.test }} (${{ matrix.toolchain }})
    runs-on: ubuntu-latest
    needs: setup-cargo-stylus
    strategy:
      matrix:
        toolchain: [1.87.0, nightly-2025-06-26]
        test:
          - "abi_decode"
          - "abi_encode"
          - "arrays"
          - "call"
          - "constants"
          - "constructor"
          - "delegate_call"
          - "encoding_and_hashing"
          - "erc20"
          - "erc721"
          - "errors"
          - "events"
          - "fallback_receive"
          - "first_app"
          - "function"
          - "hello_world"
          - "mapping"
          - "nested_structs"
          - "primitive_data_types"
          - "sending_ether"
          - "single_call"
          - "storage_data_types"
          - "test"
          - "variables"
          - "verify_signature"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: wasm32-unknown-unknown
      - name: Download cargo-stylus binary
        uses: actions/download-artifact@v4
        with:
          name: cargo-stylus-binary
          path: ~/.cargo/bin
      - name: Make cargo-stylus executable
        shell: bash
        run: chmod +x ~/.cargo/bin/cargo-stylus
      - name: Run integration tests for ${{ matrix.test }}
        shell: bash
        run: ./ci/integration_test.sh --example ${{ matrix.test }}
  integration-test-stylus-tools:
    name: integration-test-tools (${{ matrix.toolchain }})
    runs-on: ubuntu-latest
    needs: setup-cargo-stylus
    strategy:
      matrix:
        toolchain: [1.87.0, nightly-2025-06-26]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: wasm32-unknown-unknown
      - name: Download cargo-stylus binary
        uses: actions/download-artifact@v4
        with:
          name: cargo-stylus-binary
          path: ~/.cargo/bin
      - name: Make cargo-stylus executable
        shell: bash
        run: chmod +x ~/.cargo/bin/cargo-stylus
      - name: Run integration tests for Stylus Tools
        shell: bash
        run: ./ci/integration_test.sh --stylus-tools
