name: integration
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: install rustup
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > rustup-init.sh
        sh rustup-init.sh -y --default-toolchain 1.87.0
        rustup target add wasm32-unknown-unknown

    - name: Cargo stylus
      run: |
        RUSTFLAGS="-C link-args=-rdynamic" cargo install --force cargo-stylus

    - name: Build and Test
      run: ./ci/integration_test.sh
